@charset "UTF-8";

/* ОБНУЛЕНИЕ СТИЛЕЙ --------------------------------------------------------------------------------------------------------- */

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* ---------------------------------------------------------------------------------------------------------------------- */

/* cyrillic-ext */

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ptsans/v16/jizaRExUiTo99u79D0-ExdGM.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
  font-family: 'HelveticaNeueLTStd';
  src: url("../fonts/HelveticaNeueLTStd-UltLt.otf");
  src: local("☺"), url("../fonts/PFDinTextCondPro-Thin.woff") format("woff"), url("../fonts/PFDinTextCondPro-Thin.ttf") format("truetype"), url("../fonts/PFDinTextCondPro-Thin.svg") format("svg");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'PFDinTextCondPro';
  src: url("../fonts/PFDinTextCondPro-Medium.eot");
  src: local("☺"), url("../fonts/pfdintextcondpro-medium.woff") format("woff"), url("../fonts/pfdintextcondpro-medium.ttf") format("truetype"), url("../fonts/pfdintextcondpro-medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: "PTSans";
  background-color: #ffffff;
  color: #000;
  font-size: 14px;
}

a {
  cursor: pointer;
  color: #fff;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1930px;
  margin: 0px 160px;
  padding: 0px 15px;
}

body {
  background-color: white;
}

footer {
  background-color: black;
  color: white;
  height: 300px;
}

.wrap-lenta {
  width: 100%;
  height: 220px;
  position: absolute;
  top: -12px;
  left: -12px;
  overflow: hidden;
}

.wrap-lenta:before,
.wrap-lenta:after {
  content: "";
  position: absolute;
}

.wrap-lenta:before {
  width: 57px;
  height: 12px;
  left: 121px;
  background: #6d251e;
}

.wrap-lenta:after {
  width: 12px;
  height: 57px;
  left: 0px;
  top: 121px;
  background: #6d251e;
}

.lenta {
  line-height: 40px;
  width: 260px;
  height: 40px;
  position: absolute;
  top: 55px;
  left: -56px;
  font-size: 36px;
  z-index: 2;
  overflow: hidden;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
  background: #84c225;
  text-align: center;
}

.header__burger {
  display: none;
}

.header {
  font-family: "HelveticaNeueLTStd";
  font-weight: 500;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0 auto;
  z-index: 10;
}

.header__part-1 {
  z-index: 99;
  background-color: black;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-left: 150px;
}

.header__menu {
  position: relative;
}

.header__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 19px;
}

.header__menu ul li {
  margin-left: 28px;
  margin-top: 12px;
  margin-bottom: 12px;
  border-right: white 1px solid;
}

.header__menu ul li:first-child {
  margin-left: 0px;
}

.header__menu ul li:last-child {
  border-right: white 0px solid;
}

.header__menu ul li a {
  margin-right: 28px;
}

.header__part-2 {
  background-color: white;
}

.header__par-welcome {
  font-size: 23px;
  text-transform: uppercase;
  color: black;
  margin-top: 25px;
  margin-bottom: 25px;
}

.header__tweens {
  margin-left: 0px;
  position: relative;
}

.header__tweens .header__wrapper {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.header__logo {
  z-index: 1;
  width: 98px;
  height: 130px;
  background-color: #ac2323;
  position: absolute;
  left: -145px;
  top: 0%;
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo p {
  color: white;
  text-shadow: 2px 2px 3px black;
  font-size: 38px;
  margin-top: 15px;
}

.header__logo img {
  margin-top: 28px;
  margin-left: 11px;
  width: 80px;
  height: 90px;
}

.header__social-icon {
  position: absolute;
  left: 100%;
}

.header__social-icon ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  color: white;
  margin-left: -160px;
}

.header__social-icon ul li {
  border: 2px solid white;
  /* Параметры границы */
  border-radius: 50%;
  background-color: #fff;
  margin-left: 10px;
}

.header__social-icon ul li p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 33px;
  width: 33px;
}

.web-fon {
  width: 100%;
  height: 280px;
  background: url(../img/body/webfon3.webp) grey center no-repeat;
  background-size: 100%;
}

.page {
  display: block;
  height: 100%;
}

.main-top {
  font-family: "PFDinTextCondPro";
  font-weight: 500;
  color: #ffffff;
}

.main-header {
  width: 100%;
  border-bottom: 1px solid gray;
  padding-bottom: 24px;
}

.main-header__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-header__photo {
  display: block;
/*   width: 173px; */
/*   height: 178px; */
  background-color: #fffefe;
  position: absolute;
  top: 290px;
  border: 5px ridge #cecdcd;
  z-index: 2;
}

.main-header__photo img {
  margin: 12px;
  width: 145px;
  height: 148px;
}

.main-header__info {
  margin-top: 17px;
}

.main-header__info-container {
  width: 100%;
  padding-left: 210px;
}

.main-header h1 {
  font-size: 29px;
  font-weight: 500;
  line-height: 1.2;
}

.main-header p {
  font-size: 21px;
}

.main-center {
  width: 100%;
  border-bottom: 1px solid gray;
}

.main-center__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 27px;
}

.main-center h1 {
  padding-top: 27px;
  font-size: 28px;
  margin-bottom: 16px;
}

.main-center p {
  padding-top: 10px;
  font-size: 17px;
}

.main-center ul {
  font-size: 17px;
}

.main-center__block-1 {
  padding-right: 20px;
}

.main-center__block-1 p {
  margin: 0;
  padding: 0;
  font-size: 17px;
}

.main-center__block-2 h1 {
  padding-left: 60px;
}

.main-center__block-2 img {
  margin-top: 5px;
}

.main-center__block-2-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin-left: 50px;
}

.main-center__block-2-items p {
  font-size: 14px;
}

.main-center__block-item {
  display: block;
  margin-right: 7px;
}

.main-center__block-item img {
  border: 5px double #cecdcd;
  width: 156px;
  height: 123px;
}

.main-bottom {
  margin-top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-bottom__portfolio {
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

.main-bottom__portfolio h1 {
  padding: 0 8px;
  display: inline-block;
  font-size: 23px;
  margin-bottom: 30px;
  margin-top: 10px;
}

.main-bottom__portfolio p {
  color: #424146;
  font-size: 16px;
}

.owl-carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.owl-carousel img {
  border: 5px double #cecdcd;
  width: 156px;
  height: 123px;
}

.owl-carousel .item {
  display: block;
  margin-right: 7px;
}

.other {
  display: none;
}

.footer {
  width: 100%;
  height: 100%;
  font-family: "PFDinTextCondPro";
  margin-bottom: -1px;
  padding-bottom: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__social-icon ul {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  color: white;
}

.footer__social-icon ul li {
/*   border: 4px solid white;
  border-radius: 50%;
  background-color: #fff; */
  margin-left: 10px;
}

.footer__social-icon ul li p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 33px;
  width: 33px;
}

.footer__email {
  margin-bottom: 30px;
}

.popup {
  z-index: 25;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.603);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

#popup-image {
  width: 100%;
  height: 100%;
}

.popup:target {
  opacity: 1;
  visibility: visible;
}

.popup:target .popup__content {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

.popup__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 30px 10px;
}

.popup__content {
  background-color: #fff;
  color: #000;
  padding: 30px;
  position: relative;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  opacity: 0;
  -webkit-transform: translate(0px, -100%);
  -ms-transform: translate(0px, -100%);
  transform: translate(0px, -100%);
}

.popup_mod {
  width: 100%;
}

.popup__close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  color: #000;
  text-decoration: none;
}

.popup__close img {
  width: 12px;
}

.popup__title {
  text-align: center;
  margin-bottom: 30px;
  color: #000;
  font-weight: 800;
  font-size: 25px;
}

.popup__textforms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000;
}

/* FORMS */

.popup-order {
  font-size: 20px;
}

.popup-order__h {
  font-weight: 700;
  font-style: italic;
  text-align: center;
}

.popup-order__h--mt {
  margin-bottom: 20px;
}

.popup-order__fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popup-order__contact-info {
  font-size: 20px;
  margin: 20px;
  padding: 10px;
  border-bottom: solid 2px black;
}

.popup-order__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  margin-bottom: 15px;
}

.popup-order__information {
  margin-right: 15%;
}

.popup-order__amount {
  width: 38px;
  font-size: 20px;
}

.popup-order__amount:hover {
  background-color: yellowgreen;
}

.popup-order__delivery {
  margin-bottom: 20px;
}

.popup-order__delivery-city {
  font-size: inherit;
  margin-right: 38px;
}

.popup-order__delivery-city input {
  width: 80%;
  border-bottom: 2px solid black;
  font-size: inherit;
}

.popup-order__delivery-post {
  margin-right: 80px;
}

.popup-order__choice-adress {
  margin-left: 45px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.popup-order__choice-adress input {
  width: 100%;
  font-size: 18px;
  border-bottom: 2px solid black;
}

.popup-order__button-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popup-order__sumbit {
  margin: 25px;
  padding: 12px;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 700;
}

.popup-order__sumbit:hover {
  background-color: chartreuse;
}

.div-hidden {
  display: none;
}

.div-vis-none {
  visibility: hidden;
}

/* IMAGE */

.popup__content-image {
  padding: 0;
}

.popup__image {
  max-width: 100%;
  vertical-align: top;
}

.popup__image img {
  width: 500px;
}

.bold-weight {
  font-weight: 700;
}

@media (max-width: 1280.98px) {
  .container {
    margin: 0px 50px;
  }
}

@media (max-width: 1160px) {
  .main-header p {
    font-size: 17px;
  }

  .main-header h1 {
    font-size: 25px;
  }

  .main-center p {
    font-size: 13px;
  }

  .main-center h1 {
    font-size: 23px;
  }

  .main-center ul {
    font-size: 13px;
  }

  .main-center__block-1 {
    padding-right: 0px;
    margin: 0 auto;
    font-size: 13px;
  }
}

@media (max-width: 992.98px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 985px) {
  .header__wrapper {
    margin-left: 110px;
  }

  .header__menu ul {
    font-size: 15px;
  }

  .header__par-welcome {
    font-size: 21px;
  }

  .header__logo {
    width: 82px;
    height: 120px;
    left: -105px;
  }

  .header__logo p {
    font-size: 28px;
    margin-top: 20px;
  }

  .header__social-icon ul {
    margin-top: 110px;
  }

  .main-header__profile {
    padding-left: 25px;
    padding-bottom: 8px;
  }

  .main-center__block-item:last-child {
    display: none;
  }
}

@media (max-width: 968px) {
  .popup__title {
    font-size: 20px;
  }

  .popup-order {
    font-size: 12px;
  }

  .popup-order__h--mt {
    margin-bottom: 12px;
  }

  .popup-order__contact-info {
    font-size: 12px;
    margin: 10px;
    padding: 5px;
  }

  .popup-order__price {
    margin-bottom: 12px;
  }

  .popup-order__amount {
    width: 17px;
    font-size: 12px;
  }

  .popup-order__delivery-city {
    margin-right: 30px;
  }

  .popup-order__delivery-post {
    margin-right: 30px;
  }

  .popup-order__choice-adress input {
    font-size: 12px;
  }

  .popup-order__choice-adress {
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 30px;
  }

  .popup-order__sumbit {
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    font-size: 12px;
  }
}

@media (max-width: 767px) {
  .other {
    display: inline;
  }
}

@media (max-width: 760.98px) {
  .container {
    max-width: 750px;
    margin: 0px 20px;
  }
  .main-header__info-container {
    h1 {
      margin: 0 auto.
    }
  }
}

@media (max-width: 760px) {
  .header__wrapper {
    margin-left: 60px;
  }

  .header__logo {
    display: none;
  }
}

@media (max-width: 650px) {
  .main-header {
    padding-left: 50px;
  }

  .main-center__container {
    padding-left: 65px;
  }

  .main-center__block-2 {
    display: none;
  }
}

@media (max-width: 600px) {
  .header__wrapper {
    margin-left: 20px;
  }

  .popup-order__fieldset {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .popup-order__contact-info {
    font-size: 12px;
    margin: 6px;
    padding: 0px;
    border-bottom: solid 1px black;
  }

  .popup-order__price {
    margin-top: 10px;
  }

  .popup-order__delivery-city {
    margin-bottom: 10px;
  }

  .popup-order__delivery-post {
    margin-bottom: 10px;
  }

  .popup-order__choice-adress {
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
}

@media (max-width: 570px) {
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
  }

  .header__social-icon {
    display: none;
  }
}

@media (max-width: 528px) {
  .header__wrapper {
    margin-left: 0px;
  }

  .header__menu ul li:first-child {
    margin-left: 32px;
  }

  .header__menu ul li:nth-child(2) {
    display: none;
  }

  .header__par-welcome {
    font-size: 17px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 20px auto;
  }

  .web-fon {
    position: absolute;
    z-index: -1;
    height: 240px;
  }

  .main-header {
    padding-left: 0px;
    padding-top: 40px;
  }

  .main-header__profile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .main-header__photo {
    position: relative;
    top: 0px;
    left: 0px;
    margin: 0 auto;
    margin-bottom: 35px;
  }

  .main-header__info {
    margin: 0 auto;
  }

  .main-header__info-container {
    padding-left: 0px;
    margin: 0 auto;
  }
}

@media (max-width: 479.98px) {
  .container {
    max-width: none;
    margin: 0 auto;
  }
}

@media (max-width: 400px) {
  .header__menu ul li {
    margin-left: 20px;
  }

  .header__menu ul li:first-child {
    margin-left: 8px;
  }

  .header__menu ul li a {
    margin-right: 20px;
  }
}

@media (max-width: 100px) {
  body.lock {
    overflow: hidden;
  }

  .header__container {
    padding-left: 30px;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
    margin: 0 20px;
  }

  .header__burger span {
    position: absolute;
    background-color: #fff;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before,
  .header__burger:after {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .header__burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__menu {
    -ms-flex-negative: 1;
        flex-shrink: 1;
    margin: 0px auto;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #e77817;
    padding: 70px 10px 20px 10px;
    z-index: 0;
  }

  .header__menu.active {
    top: 0;
    height: 40%;
  }

  .header__menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
    margin: 30px auto;
  }

  .header__menu-link {
    margin: 10px 0px 20px 0px;
    font-size: 30px;
  }

  .header__contacs-delivery {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-left: -20px;
  }
}
